.header {
    position: sticky;
    top: 0;
    // lets sticky work
    z-index: 1;
    // makes header stay on top

}

.header {
    background: $header-bg;
    color: $header-color;
    font-size: 0.5rem;
    //goes based off of root font size
    width: 100%;
    min-height: 60px;
    text-align: center;
}


.header a {
    color: $header-color;
    text-decoration: none;
}

@include mq(768px) {
    //ipad size
    .header {
        font-size: 1rem;
    }
}
